---
layout: layout.njk
title: "Alert Logic / Fortra"
background: "#182333"
---

<style>

body { background: {{ background }} }

</style>

<div class="standard-container">

  <div class="project-assets">
    <div class="project bottom-pad"><img src="/img/alertlogic.png" alt="{{ title }} project screenshots" /></div>
    <div class="project-small bottom-pad">
     <div class="project"><img src="/img/Incident tuning list.png" alt="{{ title }} project screenshots" class="sesame" /></div>
     <div class="project"><img src="/img/Incident tuning add.png" alt="{{ title }} project screenshots" class="sesame" /></div>
     <div class="project"><img src="/img/Incident tuning tab.png" alt="{{ title }} project screenshots" class="sesame" /></div>
     <div class="project"><img src="/img/Incident tuning pick analytic.png" alt="{{ title }} project screenshots" class="sesame" /></div>
     <div class="project"><img src="/img/devhome.png" alt="{{ title }} project screenshots" class="sesame"/></div>
     <div class="project"><img src="/img/alertrecruit.png" alt="{{ title }} project screenshots" class="sesame" /></div>
    </div>
    <div class="project-wide">
      <div class="project"><img src="/img/almobile.png" alt="{{ title }} project screenshots" class="sesame" /></div>
    </div>
  </div>

 <div class="info-container">
  <aside>
    <img src="/img/logos/alertlogic.svg" alt="{{ title }} logo" class="logo" />
    <dl>
      <dt>Client/Brand</dt>
      <dd>{{ title }}</dd>
      <dt>Company info</dt>
      <dd>Alert Logic was acquired by Fortra during my tenure there. Fortra is a global cybersecurity company headquartered in Eden Prairie, Minnesota, with over 4,000 employees, providing solutions for data security, automation, and threat protection</dd>
      <dt>Sector/Product type</dt>
      <dd>Cyber security, protection and remediation. B2B/B2C SaaS, Developer/Engineer tooling</dd>
      <dt>Title</dt>
      <dd>User experience and UI Director</dd>
      <dt>Role</dt>
      <dd>Built and led a multi-disciplined global design team comprised of User Experience Designers, Prototypers, UI Engineers, Researchers and Technical (Documentation) writers</dd>
      <dt>Key achievements</dt>
      <dd>Led initiatives to rebrand product/UI, modernised product/design/engineering workflows. Introduced mobile first design, launched industry first mobile app. Curated and built Storybook based design system. Drove analytics/data analysis, leading to significant reduction in customer churn. Redesigned and relaunched documentation platform</dd>
    </dl>
    <hr>
    <dl>
      <dt>Website</dt>
      <dd><a href="https://www.alertlogic.com/managed-services/managed-detection-and-response/" target="_blank">https://fortra.com</a></dd>
    </dl>
    <hr>
      <h3>References</h3>
        <blockquote>
        <p>I have had the pleasure of working with Alex for a few years under his leadership and direction. He has allowed me to explore and develop ideas of my own, accomplish projects without micromanagement or looking over my shoulder, yet approachable and always available to guide and steer my thoughts to develop great products and features.</p>
        
        <p>I can highly recommend Alex as a leader and would expect him to continue to bring his experience and thoughtful guidance to any team or project, and bring both of those to future success.</p>
        </blockquote>
        <blockquote>
        <p>I gotta say, Alex is hands down one of the best UX designers I've worked with. As my manager for the past couple of years, he always found a way to bring out the best in me without micromanaging. He was always there when I needed help and gave me the freedom to explore and improve the product on my own. Alex has a way of making you feel heard and understood, no matter what. He's also a CSS and design wizard, always pushing boundaries and coming up with innovative ideas. Also, he's not afraid to speak his mind, even when it's not what you want to hear. Alex is a great leader, managing the UX team with ease and making sure we deliver features that are useful, usable and needed.</p>
        </blockquote>
  
  </aside>
 </div>

</div>